.repo {
  h1 {
    font-size: 26px;
    width: 100%;
    padding: 15px 10px;
  }

  ul {
   width: 100%;
   display: flex;
   flex-direction: column;
   gap: 10px;
   height: 100%;
   padding: 10px;
   overflow-y: scroll;
   overflow-x: hidden;
   scrollbar-width: thin;
   scrollbar-color: #eee #e4e4e4;

    &::-webkit-scrollbar {
      width: 8px;
    }

    &::-webkit-scrollbar-track {
      background: #e4e4e4;
    }

    &::-webkit-scrollbar-thumb {
      background-color: #eee;
      border-radius: 6px;
      box-shadow: 0px 0px 10px #00000010;
    }

   li {
    box-sizing: border-box;
    width: 100%;
    position: relative;
    background-color: #eee;
    list-style: none;
    padding: 20px;
    border-radius: 6px;
    cursor: pointer;
    box-shadow: 0px 0px 10px #00000010;

    display: flex;
    gap: 14px;

    &:hover h2>b {
      text-decoration: underline 1px black;
    }

    img {
      width: 40px;
    }

    h2 {
      font-size: 15px;

      b {
        font-size: 24px;
      }

      a:hover {
        text-decoration: underline solid black;
      }
    }

    p {
      opacity: 0.5;
    }
   }
  }
}
