.navbar {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

  gap: 30px;

  .title {
    img {
      width: 25px;
      aspect-ratio: 1/1;
    }
  
    p {
      letter-spacing: 3px;
      font-size: 16px;
    }
  }

  .search {
    background-color: transparent;
    width: 100%;
    max-width: 100px;

    padding: 0;
    padding-bottom: 1px;

    border: none;
    border-bottom: solid 1px black;

    cursor: pointer;

    &:focus {
      outline: none;
      padding-bottom: 0px;
      border-bottom: solid 2px #000000;
      cursor: text;
    }

    &:hover:not(:focus) {
      background-color: black;
      color: #e4e4e4;

      &::placeholder {
        color: #e4e4e4;
        opacity: 1;
      }
    }

    &::placeholder {
      color: black;
      opacity: 1;
    }
  }
  
  @media only screen and (max-width: 900px) {
    & {
      flex-direction: row;
      position: sticky;
      top: 0px;
      left: 0px;
      width: 100vw;
      height: auto;
      justify-content: space-between;
      align-items: center;
      padding: 10px 20px;
      box-sizing: border-box;
      background-color: #d4d4d4;
      
      .title, a {
        display: flex;
        align-items: center;
        gap: 15px;
      }

      p {
        display: none;
      }
    }
  }
}
