.outerContainer {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;

  .innerContainer {
    width: 100%;
    height: 100%;
    max-width: 900px;
    padding: 0px 10px;
    display: flex;
    gap: 30px;

    @media only screen and (max-width: 900px) {
      & {
        flex-direction: column;
      }
    }
  }
}
