.link {
  height: 40px;
  display: flex;
  flex-direction: column;
  gap: 5px;

  a, button {
    cursor: pointer;
    height: 40px;
    border: none;
    background-color: transparent;
    border-bottom: 1px solid black;
    padding-right: 5px;

    &:hover {
      background-color: black;
      color: #e4e4e4;
    }
  }
}
